<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @container_type.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @container_type.icon %>
</p>

<%= link_to 'Edit', edit_container_type_path(@container_type) %> |
<%= link_to 'Back', container_types_path %>
