<!DOCTYPE html>
<html>
<head>
  <title>Fridge</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= html_import_tag 'application'%>
</head>
<body unresolved>
<core-header-panel>
  <core-toolbar>
    <paper-tabs id="tabs" selected="all" self-end>
      <paper-tab name="all">All</paper-tab>
      <paper-tab name="favorites">Favorites</paper-tab>
    </paper-tabs>
  </core-toolbar>
  <!-- main page content will go here -->
  <%= yield %>
</core-header-panel>
<script>
  var tabs = document.querySelector('paper-tabs');

  tabs.addEventListener('core-select', function() {
    console.log("Selected: " + tabs.selected);
  });
</script>
</body>
</html>
